<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jowoan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".custom.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.lesson.LoadLessonActivity"></activity>
        <activity android:name=".views.lesson.LessonActivity" />
        <activity android:name=".CobaActivity" />
        <activity android:name=".Activity_P1_2" />
        <activity android:name=".views.main.NotificationActivity"></activity>
        <activity android:name=".views.main.AddFriendActivity" />
        <activity android:name=".views.pengaturan.PengaturanActivity" />
        <activity android:name=".views.auth.SignUpActivity" />
        <activity android:name=".views.auth.LoginActivity" />
        <activity android:name=".views.intro.Intro" />
        <activity android:name=".views.auth.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.main.MainActivity" />
    </application>

</manifest>